/* .img-flag {
  margin-left: 100px;
}
.card-body {
  display: flex;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  margin-top: 50px;
}
.card-title {
  font-size: 48px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
} */

/* .form {
  list-style: none;
} */

body {
  background-color: aquamarine;
  text-align: center;
}
.stats {
  display: flex;
}
.gallery {
  display: grid;
  /* width: 1200px; */
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  /* grid-auto-rows: 240px;
  grid-gap: 12px;
  padding: 0; */
  list-style: none;
  /* margin-left: auto;
  margin-right: auto; */
}

.btn {
  font-size: 25px;
  border-radius: 5px;
}

input {
}
