.img-flag {
  margin-left: 100px;
}
.card-body {
  display: flex;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  margin-top: 50px;
}
.card-title {
  font-size: 48px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form {
  list-style: none;
}

body {
  background-color: aquamarine;
}
